PORT=5005
MONGO_URI=mongodb+srv://superAdmin:FqdwwaDlPfPFyLRx@ml-test-cluster0.tjquq.mongodb.net/minimalistic?retryWrites=true&w=majority

# SendGrid Configuration
SENDGRID_API_KEY=your_sendgrid_api_key
FROM_EMAIL=no-reply@minimalistic-technology.com
RECEIVER_EMAIL=info@minimalistic-technology.com
