EMAIL_USER=supra000765@gmail.com
EMAIL_PASS=qjnzjswequfnzxae
EMAIL_TO=saadali92486@gmail.com
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LdG5gAtAAAAAJy66FjTOFA3bYpnfJm6OUJcz1ef