# Server
PORT=5010
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
MONGO_URI=mongodb://127.0.0.1:27017/lynktree

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# Email — Brevo (production)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@lynktree.com
BREVO_SENDER_NAME=Lynktree

# OTP
OTP_EXPIRES_MINUTES=10

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
